{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style></style>
<div class="container-fluid mt-5">
    <div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        {{form_start(contactForm)}}
            <h3 class="mb-4"><b>CONTACTEZ MOI.</b></h3>
            <div class="form-group">
                {{ form_row(contactForm.name)}}
                {{ form_row(contactForm.mail)}}
                {{ form_row(contactForm.subject)}}
                {{ form_row(contactForm.message)}}
            </div>
        {{form_end(contactForm)}}
    </div>
    <div class="col-md-3">&nbsp;</div>   
    </div>
</div>


{% endblock %}
